<!doctype html>
<html>
  <head>
    <title>{{#if page.title}}{{ page.title }} | {{/if}}{{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.baseURL }}/site.css">
    <script src="{{ site.baseURL }}/site.js"></script>
  </head>

  <body id="{{ page.fullPath }}{{#unless page.fullPath}}home{{/unless}}"
        class="{{#each page.path}} {{ this }}{{/each}}">

    <header>
      {{#if site.name}}<h1 class="title"><a href="{{ site.baseURL }}">{{ site.name}}</a></h1>{{/if}}
      <p class="description">{{ site.description }}</p>
    </header>

    <main>
      <section class="breadcrumb">
        {{#if page.fullPaths}}
        <ul>
          {{#each page.fullPaths}}
            <li><a href="{{ ../site.baseURL }}/{{ this.full }}">{{ this.fragment }}</a></li>
          {{/each}}
        </ul>
        {{/if}}
      </section>
      <section class="text">
        {{{ page.html }}}
      </section>
      <section class="data">
        {{{ page.data }}}
      </section>
      <section class="children">
        <ul>
          {{#each page.children}}
            <li>
              <a href="{{ ../site.baseURL }}/{{#each path }}{{ this }}/{{/each}}{{ slug }}">
                {{#if title}}{{title}}{{/if}}{{#unless title}}{{slug}}{{/unless}}
              </a>
              {{#if date}} - <small><time>{{ date }}</time></small>{{/if}}
            </li>
          {{/each}}
        </ul>
      </section>
    </main>

    <footer></footer>

  </body>

</html>
